# 1 is a good starting point
logging_level: 1

# this allows any username/password combination to successfully authenticate
basic_verifier: alwaystrue

# location of the SSL keypair & CA info
ssl_key_file: /etc/httpd/conf/ssl.key/server.key
ssl_cert_file: /etc/httpd/conf/ssl.crt/server.crt
ssl_ca_file: /etc/httpd/conf/ssl.crt/ca-bundle.crt

# other site-specific config
granting_cert_file: /usr/local/pubcookie/keys/pubcookie_granting.cert 
login_uri: https://login.example.edu/
login_host: login.example.edu
enterprise_domain: .example.edu
logout_prog: /logout/index.cgi

# keyserver config
keyserver_client_list: login.example.edu admin.workstation.example.edu

# site-specific policies
default_l_expire: 8h

# custom logout msgs
app_logout_string-appserver.example.edu-testapp: <font size="+1">Testapp logout worked just fine.</font>
app_logout_string-webmail.example.edu-webmail: <font size="+1">Webmail Logout Successful!</font>

